@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: rajdhani;
    src: url(../police/Rajdhani-Medium.ttf);
}
:root{
    --yellow-color: #FFFF00;
    --yellow-light:#F8F184;
    --blue-color: #19587d;
    --white-color: #FFFF;
    --gradient-white:#eddebf50;
    --gradient-red: #89000962;
    --black-color: #000;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-family: rajdhani;
    font-size: 36px;
    font-weight: 400;
}
button{
    font-family: rajdhani;
    font-size: 20px;
    font-weight: 400;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    background-color: black;
    color: white;
    font-family: 'Space Grotesk';
    font-weight: 300;
}
.up-bar{
    border-top: #727272 2px solid;
    position: relative;
    top: 132px;
    width: 85%;
    left: 102px

}
/*la disigne de la navigation*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
ul{
    list-style: none;
}
nav ul a{
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    font-family: 'rajdhani';
    /* text-decoration: none; */
}
nav ul a:hover{
    color: var(--yellow-color);
}
.logo:hover{
      -webkit-filter: invert(4%) sepia(100%) saturate(6003%) hue-rotate(0deg) brightness(104%) contrast(100%);
              filter: invert(4%) sepia(100%) saturate(6003%) hue-rotate(0deg) brightness(104%) contrast(100%);
}


/* Design de la partie en tête hero*/
#hero{
    background-image: url(../Illustrations/Bathome1.png);
    height: 800px;
    background-position: top center;
    background-repeat: no repeat;
    background-color: #19587d;
    background-size: cover;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
}
#hero .titre{
    margin: 40px 0;
}
.btn{
    text-decoration: none;
    color: var(--white-color);
    font-size: 22px;
    padding: 10px 20px;
    background: linear-gradient(
        80deg, var (--gradient-white), var(--gradient-red)
    );
    box-shadow: var(--black-color) 5px 5px 60px;
}
#hero .flehe{
    display: block; 
    margin: 0 auto;
    margin-top: 285px;
}
.scroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    right: 80px;
    top: 230px;
}
.scroll .social{
    margin-top: 15px;
}

/*Design de la section batman personnage*/
#batman-cinema, #allies{
    margin-top: 40px;
}
.batman-personnage{
    display: flex;
    justify-content: space-between;
}
#batman-cinema .titre{
    font-weight: bold;
    margin: 30px 0
}
#batman-cinema .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
}
#batman-cinema .personnage-info{
    text-align: center;
}

/*Desing de la section nemesis*/
#nemesis, #allies{
    margin-top: 40px;
}
.nemesis-personnage, .allies-personnage{
    display: flex;
    justify-content: space-between;
}
#nemesis .titre, #allies .titre{
    font-weight: bold;
    margin: 30px 0
}
#nemesis .description, #allies .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}
#nemesis .personnage-info, #allies .personnage-info{
    text-align: center;
}

/*Desing de la section alliés*/

.allies-personnage{
    display: flex;
    justify-content: space-between;
}
/*desing de la section justice league*/
#league-justice{
    margin-top: 40px;
}
#league-justice .titre{
    font-weight: bold;
    margin: 30px 0
}
#league-justice .description{
    margin-bottom: 40px;
    text-align: justify;
    width: 80%;
    font-size: 21px;
}
#league-justice .personnage-info{
    text-align: center;
}
/*design de la partie multimedia*/

#multimedia button{
    position: relaitve;
    top: 155px;
    background: none;
    border: none;
}
#multimedia button.right{
   right: -85%;
}
#multimedia .slider-multimedia{
    display: flex;
    width: 60%;
    margin: 40px auto;
}
#multimedia .slider-image{
    width: 90%;
}
#multimedia .slider-content{
    padding: 15px;
    background-color: #c4c4c4ae;
    /*border radius: 20px*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#multimedia p{
    font-size: 12px;
}
#multimedia .yellow{
    color: var(--yellow-color);
}
/*Design de la partie contact*/
#contact{
    background-color: darkslategrey;
    padding: 70px 0;
}
#contact .form{
    width: 50%;
    margin: 0 auto;
}
#contact h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
#contact .titre{
    display: block;
    margin: 28px 0;
    
}
#contact .form input[type='email'], textarea{
    display: block;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 80%;
    border-bottom: 2px solid rgba(101, 94, 94, 0.422);
    background-color: transparent;
    padding: 10px 0;
}
#contact .news{
    margin-top: 15px;
    border-bottom: 2px solid rgba(132, 129, 129, 0.034);
}
#contact .icon img{
    transform: rotate(90deg);
    width: 20px;
}
::placeholder{
    color: #baba5a;
    font-size: 15px;
}
.btn-groupe{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.form input[type='radio']{
    opacity: 0;

}
.btn-groupe label{
    cursor: pointer;
    border: 2px solid;
    border-image: linear-gradient(60deg, red, blue) 1;
    padding: 10px;
    font-size: 20px;
}
input[type='submit']{
    display: block;
    width: 230px;
    margin:25px auto;
    padding: 15px;
    cursor: pointer;
}
#citation{
    margin: 90px;
}
#citation .citation-carte{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
#citation .citation-auteur{
    padding-top: 30px;
    font-size: 10px;
    font-family: 'radjhani';  
}
#citation .guillemet-close{
    float: right;
}
/*design du footer*/
footer{
    margin-top: 162px;
}
footer .text-footer{
    text-align: center;
    font-size: 14px;
}

footer .social-footer{
    text-align: center;
    margin: 50px 0;
}
footer .social-item{
    padding: 15px;
}